<p>Postman Sync now has support for read-only collections!</p>

<p>Any collections that you've already shared are editable by your team's members.
	You can change this by opening the collection share dialog, and checking the "Read only" option.</p>

<p>Please ensure all team members are on version 2.0.0.46 of the app before attempting to make any collections read-only. They can go to chrome://extensions, enable "Developer Mode", and click "Update extensions now".</p>

<p>Documentation for the read-only feature can be found at:<br>
https://sync-staging.getpostman.com/docs/sync_overview</p>


<div class="update-notif-readonly-preview clearfix">
	<div class="">
		<a><img src="img/update-readonly.png" data-theme="light"></a>
	</div>
</div>
