<p>There is a shiny new dark theme available for Postman v1.0!</p>

<p>Choose one of the options below to select your theme.</p>

<div class="theme-chooser clearfix">
	<div class="theme-option-light theme-option">
		<a><img src="img/light-theme-thumb.png" data-theme="light" class="theme-thumbnail selected-theme-thumb"></a>
	</div>
	<div class="theme-option-dark">
		<a><img src="img/dark-theme-thumb.png" data-theme="dark" class="theme-thumbnail"></a>
	</div>
</div>

<p>To change or select the theme later, go to the <strong>Settings > Theme </strong> tab.</p>