<br>
<img class="eula-logo" src="img/postman_logo.png">
<div class="eula-heading">We're gaining momentum</div>

<div class="eula-sub-heading">...and updating our policies</div>
<br>

<p class="eula-main-text">
    Postman is growing quickly. In order to align to our
    upcoming product features we’re making some
    carefully considered changes to our policies and
    terms of use. We appreciate you taking the time
    to read through them and, should you need more
    information, we’re always around.<br>
    Read the <a id="base-eula-link" target="_blank" href="{{baseEula}}">EULA</a>.
    If you have activated Jetpacks, you must also agree to the <a id="jetpacks-eula-link" target="_blank" href="{{jetpacksEula}}">Jetpacks addendum</a>.
</p>

<button class="eula-agree-button" id="base-eula-accept">
    Agree and continue
</button>

<p class="eula-footnote">
    By continuing you agree to the new policies listed above for your use of
    Postman after March 1, 2015. Learn more about your alternatives here.
</p>