<img class="eula-logo" src="img/sync_logo.png">
<div class="eula-heading">Welcome to Sync!</div>

<!--<div class="eula-sub-heading">You've been invited to use<br><a href="{{syncDocs}}" target="_blank">Postman Sync!</a></div>-->
<!--<br>-->

<p class="eula-main-text">
    <a href="{{syncDocs}}" target="_blank" id="sync-docs-link">Sync</a> backs up your Postman Collections and Environments instantly, while making them available on other systems where you are using Postman.
    Your data is stored and transferred securely on our servers. And all of this is available for FREE!<br>
    <br>
    To start using Sync, you must read and agree to the <a target="_blank" href="{{syncTerms}}" id="sync-toc-link">Sync Terms and Conditions</a> and the <a target="_blank" href="{{syncEulas}}" id="sync-eula-link">EULA</a>
</p>

<button class="eula-agree-button sync-eula" id="sync-eula-accept">
    Start using Sync!
</button>
<br><br>
<p class="eula-main-text">
    <a class="sync-eula" id="sync-eula-reject">
        No thanks, not right now.
    </a><br>
    You can enable Sync later by clicking the ‘Enable Sync’ button on the top bar.<br><br>
    <a href="http://blog.getpostman.com/?p=482&preview=1&_ppp=ee75e56a7e" target="_blank">Read the blog post here!</a>
</p>