<div class="meta clearfix">
    <div class="left">
        <div class="name">
            {{name}}
        </div>
        <div class="url">
            {{url}}
        </div>
    </div>
</div>

<div class="test-row-filter btn-group clearfix" data-toggle="buttons-radio">
    <a data-filter="all" class="btn active">All</a>
    <a data-filter="pass" class="btn">Passed</a>
    <a data-filter="fail" class="btn">Failed</a>
</div>