{{#ifEditableItem write owner}}
    <option value="add-request-option-{{id}}" data-collection-id="{{id}}" data-collection-owner="{{owner}}" data-type="collection">{{name}}</option>
    {{#each folders}}
        {{> item_collection_selector_list_folder}}
    {{/each}}
{{/ifEditableItem}}