<div class="request-tests-purchase-message">
	<div class="buy-header">
	    <a class="btn btn-medium try-jetpacks btn-upgrade">Try for 14 days</a> 
	    <a class="btn btn-medium btn-success buy-jetpacks btn-upgrade">Buy ($9.99)</a> 
	    <h3 id="jetpacks-about-header">Get Jetpacks for Postman!</h3>
	</div>

	<div class="iap-content-features clearfix">
		<p class="header-description">
		    You need the Jetpacks upgrade to access the collection runner and write tests. Jetpacks give you
		    some awesome capabilities within Postman:
		</p>

	    <div class="iap-content-feature clearfix">                
	        <div class="iap-content-feature-image">
	            <img src="img/purchases/cr-1.png"/>
	        </div>
	        <div class="iap-content-feature-meta clearfix">
	            <div class="iap-content-feature-header">
	                Quick and easy tests
	            </div>
	            <div class="iap-content-feature-description">
	                Write and run tests in Javascript using the test editor within Postman. Tests are run every time you send a request in Postman. Set environment and global variables for even more control.
	            </div>
	        </div>
	    </div>

	    <div class="iap-content-feature clearfix">
	        <div class="iap-content-feature-image">
	            <img src="img/purchases/cr-2.png"/>
	        </div>
	        <div class="iap-content-feature-meta clearfix">
	            <div class="iap-content-feature-header">
	                Run collections, analyze results
	            </div>                
	            <div class="iap-content-feature-description">
	                Execute all requests in a collection or a folder in one go. Chain requests using variables to test precise flows. Postman stores all your runs so you can analyze them later.
	            </div>
	        </div>
	    </div>

	    <div class="iap-content-feature clearfix">
	        <div class="iap-content-feature-image">
	            <img src="img/purchases/cr-3.png"/>
	        </div>
	        <div class="iap-content-feature-meta clearfix">
	            <div class="iap-content-feature-header">
	                Multiple tests, no changes required
	            </div>                
	            <div class="iap-content-feature-description">
	                Run multiple iterations using data values from a CSV or a JSON file. Postman displays aggregate results and also lets you pinpoint which iteration failed and why.
	            </div>
	        </div>
	    </div>

	    <p class="header-description">
	        All this available for only $9.99 with free upgrades for life. Check out the 
	        <a href="https://www.getpostman.com/docs/jetpacks_intro" target="_blank">documentation</a>
	        to get the most out of Jetpacks. You can also find an overview of basic features on the 
	        <a href="http://blog.getpostman.com/index.php/2014/01/16/ridiculously-easy-api-testing-introducing-jetpacks-for-postman/" target="_blank">Postman blog.</a>
	    </p>
	</div>
</div>